$search-input-font-family: 'Courier';
$search-input-font-size: 20px;

$common-font-family: 'Courier';
$event-card-font-family: 'Verdana';

$blue-color: #247ba0;
$red-color: #f64060;
$dark-blue-color: #0a435a;
$white-color: #ffffff;
$gray-color: #9d9d9d;
$back-gray-color: #f2f2f2;
$bright-blue-color: #e7eff5;
$button-blue-color: #358ed7;

