.location {
	padding: 50px 80px 50px 80px;
	@media screen and (max-width: 800px) {
		padding: 10px 10px;
	}
	background-color: #e7eff5;

	&-header {
		width: 100%;
		display: block;
	}

	&-body {
		background-color: white;
		padding: 40px 40px;
		border-left: 1px solid #247ba0;
		border-right: 1px solid #247ba0;
		border-bottom: 1px solid #247ba0;

		&-events {
			&-title {
				padding-bottom: 10px;
				font-size: 20px;
				color: #0a435a;
				font-weight: 700;
			}
		}
	}
}
