@import 'styles/common.scss';

.splash {
  height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;

  &__background {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-image: url('../../assets/images/background.png');
    background-repeat: no-repeat;
    background-position: 0 40%;
    opacity: 0.3;
  }

  &-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    flex-direction: column;

    &-title {
      color: $dark-blue-color;
      text-align: center;
    }
  }
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
