@import 'styles/common.scss';

a {
  text-decoration: none;
}

.event-card {
  width: 280px;
  color: $blue-color;
  border: 1px solid $gray-color;
  box-sizing: border-box;
  background-color: $white-color;
  font-family: $event-card-font-family;
  color: $dark-blue-color;
  margin-top: 20px;

  &-image {
    height: 110px;
  }
  &-attending {
    height: 40px;
    font-weight: 700;
    font-size: 12px;

    &__overlay {
      position: relative;
      &-attending {
        position: absolute;
        top: -15px;
        right: 100px;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
      }
      &-bubble {
        position: absolute;
        top: -15px;
        right: 30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $red-color;
        text-align: center;
        vertical-align: middle;
        line-height: 50px;
        color: $white-color;
      }
    }
  }
  &-title {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    height: 30px;
  }
  &-title-desc {
    font-size: 12px;
    padding: 5px 20px 5px 20px;
    height: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  $font-size: 12px;
  $line-height: 1.5;
  $lines-to-show: 4;
  &-content {
    font-size: $font-size;
    padding: 0px 20px 0px 20px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: $lines-to-show;
    line-height: $line-height;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show;
  }
  &-name {
    font-size: 12px;
    font-weight: 700;
    text-align: right;
    padding: 20px 20px 30px 20px;
    height: 20px;
  }
}